@import 'theme/variables';

.AppHello {
  text-align: center;
}

.AppHello__logo {
  height: 80px;
  width: 80px;
  background: url('GE-logo.svg') center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.AppHello__header {
  color: $color-white;
  background-color: $color-dark-gray;
  height: 150px;
  padding: 20px;
}

.AppHello__intro {
  font-size: large;
}
